<div class="b-container">
  <div class="dv-log">
    <div class="dv-container">

      <p class="dv-title"><span style="font-family: 'Bilbo Swash Caps'; font-size: 4rem;">Heestagram</span> <i class="fa fa-camera-retro" aria-hidden="true"></i></p>

      <% flash.each do |key, value| %>
        <% if (value == "이메일 또는 비밀번호가 일치하지 않습니다.") %>
         <div class="flash alert <%= key %> <%= key %>"><%= value %></div>
        <% end %>
      <% end %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">

        <div class="field-box">
          <%= f.email_field :email, class: "dv-email", placeholder: " Email" %><br>
          <%= f.password_field :password, class: "dv-pw", placeholder: " 비밀번호", autocomplete: "off" %>
          <%= f.submit "로그인", class: "dv-btn" %>
        </div>

      </div>

        <% if devise_mapping.rememberable? -%>
          <div>
            <%= f.check_box :remember_me, class: "dv-chk" %>
            <label class="dv-chk-label" for="user_remember_me">로그인 유지</label>
          </div>
        <% end -%>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>



    </div>
  </div>
</div>
